In [2]:
# Here, we import the psycopg2 library which has been installed externally using anaconda prompt.
import psycopg2

In [3]:
#This part of the code is used to estbalish a database connection.
conn = psycopg2.connect(
    host = "cmpstudb-01.cmp.uea.ac.uk",
    database = "zsx25qeu",
    user = "zsx25qeu",
    password = "bird-Weak-Leave-list-!0017",
    port = "5432",
)
print("Connected!")

Connected!

In [4]:
# Here we are opening a cursor, which can perform database operations
cur = conn.cursor()

In [5]:
#This code allows us to be able to select what current database we are operating on
cur.execute("SELECT current_database();")
print(cur.fetchone())

('zsx25qeu',)

In [6]:
#This code will now be able to create a table.
cur.execute("""CREATE TABLE public.datacamp_courses(
            course_id SERIAL PRIMARY KEY,
            course_name VARCHAR (50) UNIQUE NOT NULL,
            course_instructor VARCHAR (100) NOT NULL,
            topic VARCHAR (20) NOT NULL);
            """)

DuplicateTable: relation "datacamp_courses" already exists

In [7]:
# We will call the commit() method which will allow the changes of the database to be made persisent
conn.commit()

In [8]:
# TO create records, we are going to use the INSERT Command
cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to SQL', 'Izzy Weber' , 'Julia')");
cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES ('Analysing Survey Data in Python' , 'EbunOluwa Andrew' , 'Python')");
cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to ChatGPT' , 'James Chapman' , 'Theory')");
cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES( 'Introduction to Statistics in R' , 'Maggie Matsui' , 'R')");
cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES ('Hypothesis Testing in Python' , 'James Chapman' , 'Python')");

UniqueViolation: duplicate key value violates unique constraint "datacamp_courses_course_name_key"
DETAIL:  Key (course_name)=(Introduction to SQL) already exists.

In [9]:
conn.commit()

In [10]:
# Here im using the select method, which will help me read all of the data available on the table
cur.execute('SELECT * FROM datacamp_courses;')
rows = cur.fetchall()
for row in rows:
    print(row)
    conn.commit()

(2, 'Analysing Survey Data in Python', 'EbunOluwa Andrew', 'Python')
(3, 'Introduction to ChatGPT', 'James Chapman', 'Theory')
(5, 'Hypothesis Testing in Python', 'James Chapman', 'Python')
(1, 'Introduction to SQL', 'Izzy Weber', 'SQL')

In [11]:
#Here im updating the table to change the topic by using the UPDATE METHOD
cur = conn.cursor()
cur.execute("UPDATE datacamp_courses SET topic = 'SQL' WHERE course_name = 'Introduction to SQL';")
conn.commit()

In [12]:
#Im using the DELETE METHOD HERE, to delete one of the course names.
cur = conn.cursor()
cur.execute("""DELETE FROM datacamp_courses WHERE course_name = 'Introduction to Statistics in R'""");
conn.commit()

In [ ]:
#Next section down below will be the Advanced Query Selection

In [13]:
# Here im using the order function, which allows me to sort my database by the name of the instructor
cur.execute('SELECT * FROM datacamp_courses ORDER BY course_instructor')
rows = cur.fetchall()
for row in rows:
    print(row)

(2, 'Analysing Survey Data in Python', 'EbunOluwa Andrew', 'Python')
(1, 'Introduction to SQL', 'Izzy Weber', 'SQL')
(3, 'Introduction to ChatGPT', 'James Chapman', 'Theory')
(5, 'Hypothesis Testing in Python', 'James Chapman', 'Python')

In [14]:
conn.commit()

In [15]:
#Here im using the group by function, which allows one to calculate the number of courses by the different course instructors
cur.execute('SELECT course_instructor, COUNT(*) FROM datacamp_courses GROUP BY course_instructor')
rows = cur.fetchall()
for row in rows:
    print(row)

('James Chapman', 2)
('Izzy Weber', 1)
('EbunOluwa Andrew', 1)

In [16]:
# The code below doesnt work, because programming_languages doesnt exist in PostSQL, but this is how you use the join method in Python
cur.execute("""SELECT course_name, course_instructor, topic, tiobe_ranking 
FROM datacamp_courses
INNER JOIN programming_languages
ON datacamp_courses.topic = programming_languages.language_name""")
rows = cur.fetchall()
for row in rows:
    print(row)

UndefinedTable: relation "programming_languages" does not exist
LINE 3: INNER JOIN programming_languages
                   ^